*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;;
}

.titulo{
    h1{
        padding: 20px;
    font-size: 2rem;
    background-color: rgb(68, 67, 67);
    text-align: center;
    border-bottom: 3px solid black;
    a{
        color: white;
        text-decoration: none;
        transition: .3s ease-in; 
        &:hover{
            color: black;
            font-size: 3rem;
            cursor: pointer;
        }
    }
    }
}

.grid{
    margin: 2rem 2rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navegador{
    background-color: black;
    color: white;
    grid-column: 1/5;
    padding: 1.5rem 0;
    ul{
        display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    li{
        display: inline;
    text-transform: uppercase;
    font-size: 25px;
    a{
        color: white;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
        font-size: 29px;
        cursor: pointer;
    }
    }
    }
    }
}

.hero{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    .hero_text{
        width: 50%;
        background-color:grey;
        
        h2{
            font-size: 1.7rem;
            padding: 1.5rem 3rem;
        } 
        p{
            font-size: 1.3rem;
            width: 85%;
            padding: 1rem 3rem;
            margin-bottom: 1rem
        }
    }
    .gtr_img{
        width: 40%;
        margin-left: -12rem;
    }
}

.contactos_sectiongrid{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    .section_contactos{
        h2{
            margin: 1rem 0;
            font-size: 25px;
            text-align: center;
        }
        .contactos{
            display: flex;
            flex-flow: column wrap;
            text-align: center;
            list-style-type: none;
            li{
                list-style-type: none;
                margin: 2rem 0;
                font-size: 25px;
            }
            p{
                font-size: 25px;
                a{
                    color: grey;
                    &:hover{
                        color: black;
                        font-size: 30px;
                        transition: 0.6s ease;
                        cursor: pointer;
                    }
                }
            }
        }
        }
    .ubicacion{
        h2{
            margin: 1rem 0;
            font-size: 25px;
            text-align: center;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            li{
                margin: 2rem 0;
                font-size: 25px;
                iframe{
                    margin-top: 2rem;
                    width: 80%;
                    height: 80%;
                    justify-content: center;
                    &:hover{
                        width: 100%;
                        transition: .5s ease;
                    }
                }
            }
        }
    }
    .formulario{
        text-align: center;
        font-size: 25px;
        margin: 1rem 0;
        h2{
            text-align: center;
            font-size: 25px ;
        }
        .enviar{
            font-size: 20px;
            padding: 1rem;
            background-color: grey;
            color: white;
            border: 2px solid black;
            &:hover{
                border: 2px solid yellow;
                color: black;
                cursor: pointer;
            }
        }
    }
}

.pie{
    background-color: black;
    color: white;
    grid-column: 1/5;
    padding: 1.5rem 0;
    text-align: center;
    margin-top: 2rem;
    h3{
        font-size: 25px;
    }
    p{
        margin-top: 1.5rem;
    }
}
@media screen and (max-width:425px){
    
    .navegador ul{
        display: flex;
        flex-wrap: nowrap;
        list-style-type: none;
        flex-direction: column;
        align-items: center;
    }
    
    .hero{
        margin-left: 3rem;
    }

    .hero_text{
        width: 100%;
        text-align: center;
    }

    .hero_text h2{
        font-size: 28px;
        margin-left: 2rem;
    }

    .hero_text p{
        width: 100%;
        font-size: 25px;
    }

    .section_servicios{
        grid-column: 1/-1;
    }

    .imagenes{
        grid-column: 1/-1;
    }
    
    .imagenes ul{
        display: flex;
        list-style-type: none;
    }
    
    .imagenes li{
        display: flex;
    }

    .imagenes li img{
        width: 100%;
        align-items: center;
    }
}


@media screen and (max-width: 767px) {
    
    .section_contactos , .ubicacion , .formulario{
        grid-column: 1/-1;
    }

    .ubicacion{
        margin-top: 1.5rem;
    }

    .section_contactos div h2{
        font-size: 20;
    }

    .gtr img{
        display: none;
    }
    
    .hero{
        margin: 1rem 0;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px){
    
    .contactos_sectiongrid{
        grid-template-columns: repeat(4, 1fr);
    }

    .section_contactos{
        grid-column: 1/3;
    }

    .ubicacion{
        grid-column: 3/5
    }

    .formulario{
        grid-column: 1/-1;
    }

    .gtr img{
        width:100%;
        margin-left:-1rem;
    }
}

@media screen and (min-width: 1024px){
    .hero_text{
        width:35%;
    }

    .gtr img{
        margin-left:-2rem;
    }

}
